
@{
    ViewBag.Title = "Footer";
}

<nav class="">
    <div class="col-lg-12 col-md-12 col-sm-12 footer2">
        <div class="contacto">
            <p>CONTACTO</p>
            <hr />
            <p>Universidad Tecnológica Nacional - Facultad Regional La Plata</p>
            <p>Av.60 esq. 124 s/n, La Plata, Buenos Aires, Argentina | Tel: (0221) 412- 4300</p>
            <p> webmaster@frlp.utn.edu.ar  |  Formulario de Contacto</p>
        </div>
        <div class="seguinos">
            <p>SEGUINOS EN</p>
            <hr />
            <p class="texto-pequeño">Desarrollado por LINES - UTN FRLP | 2017</p>
        </div>

        @*<img id="footer" src="/Imagenes/footer.jpg" />*@
    </div>
</nav>

