
@{
    ViewBag.Title = "Footer";
}

<nav class="">
    <div class="col-lg-12 col-md-12 col-sm-12 footer2">
        <div class="contacto">
            <p>CONTACTO</p>
            <hr />
            <p>Universidad Tecnológica Nacional - Facultad Regional La Plata</p>
            <p>Av.60 esq. 124 s/n, La Plata, Buenos Aires, Argentina | Tel: (0221) 412- 4300</p>
            <p> webmaster@frlp.utn.edu.ar  |  Formulario de Contacto</p>
        </div>
        <div class="seguinos">
            <p>SEGUINOS EN</p>
            <hr />
            <p> <a href="https://www.facebook.com/utnfrlaplata/" target="_blank"><img class="redsocial" alt="Facebook" data-entity-type="file" data-entity-uuid="0f2bad87-0910-4563-9be2-b223589f1dbb" src="/Imagenes/facebook.png" /></a>
                <a href="https://twitter.com/utnfrlaplata" target="_blank"><img class="redsocial" alt="Twitter" data-entity-type="file" data-entity-uuid="b054a201-c65f-473b-b641-bb8c3fdd2ad6"src="/Imagenes/twitter.png"/></a>
                <a href="https://www.instagram.com/utnfrlp" target="_blank"><img class="redsocial" alt="Instagram" data-entity-type="file"data-entity-uuid="6954d190-f1f9-4a4b-bcea-79a3b3fb9cfc" src="/Imagenes/instagram.png"/></a>
                <a href="https://www.youtube.com/channel/UCOMYT48wFK3YGLIb2-KxJWQ" target="_blank"><img class="redsocial" alt="Youtube" data-entity-type="file" data-entity-uuid="5f33dccb-45f8-4589-9d45-2e106fdc0648" src="/Imagenes/youtube.png" /></a>
            </p>
            <p class="texto-pequeño">Desarrollado por LINES - UTN FRLP | 2017</p>
        </div>

        @*<img id="footer" src="/Imagenes/footer.jpg" />*@
    </div>
</nav>

