
@{
    ViewBag.Title = "Footer";
}

<nav class="">
    <div class="col-lg-12 col-md-12 col-sm-12 no-padding" id="no-mobile">
        <img id="footer" src="/Imagenes/footer.jpg" />
    </div>
</nav>

