
@{
    ViewBag.Title = "Fin Preinscripción";
}

<div class="texto">
    <p>
       <b>¡Gracias por preinscribirte a nuestra Facultad!</b>
    </p>
    <p>
        En breve te enviaremos un mail de confirmación con tus datos y el día y horario del turno.
    </p>
    <p>
        Recordá traer la documentación pertinente para completar la inscripción de forma presencial. De no traerlos no se podrá concluir la misma.
    </p>
    <p>
        En caso de no poder asistir, por favor recordá modificar o cancelar el turno, accediendo a través del link enviado por mail. 
    </p>
    <br />
    <a href="/Alumno/Index" class="btn btn-primary btn-lg active" role="button">Volver a Inicio</a>
</div>

