@{
    ViewBag.Title = "Home Page";
}

<div class="centrado">
    @Html.ActionLink("Preinscripción", "Index", "Alumno", null, new { @class = "btn btn-primary btn-lg active" })
</br></br>
    @Html.ActionLink("Iniciar sesión como administrativo", "Index", "Administrativo", null, new { @class = "btn btn-primary btn-lg active" })
</div>