@{
    ViewBag.Title = "Home Page";
}

<div class="inicio1">
    @Html.ActionLink("Preinscripción", "Index", "Alumno", null, new { @class = "btn btn-primary btn-lg active" })
</div></br>

<div class="inicio2">    
    @Html.ActionLink("Iniciar sesión como administrativo", "Index", "Administrativo", null, new { @class = "btn btn-primary btn-lg active" })
</div>