@{
    ViewBag.Title = "Home Page";
}

@*<a href="/Alumno/Index" class="btn btn-primary btn-lg active" role="button">Preinscripción</a></br></br></br>
<a href="/Administrativo/Index" class="btn btn-primary btn-lg active" role="button">Iniciar sesión como administrativo</a>
>>>>>>> 8ba4884e0a12fa05b9dd07dc304663bcafd55e0a*@

<div class="inicio1">
    @Html.ActionLink("Preinscripción", "Index", "Alumno", null, new { @class = "btn btn-default" })
</div></br>

<div class="inicio2">    
    @Html.ActionLink("Iniciar sesión como administrativo", "Index", "Administrativo", null, new { @class = "btn btn-default" })
</div>