
@{
    ViewBag.Title = "Bienvenido";
}

<div class="textooscuro">
    <p>A través de un formulario web podrás completar tus datos y mandarnos toda la información pertinente para poder empezar tu inscripción a la Facultad</p>
    <p>Además, podés elegir un turno, para que no tengas que esperar a ser atendido para poder finalizar la inscripción formalmente. </p>
    <br />
   
    <div class="botonform">
        @Html.ActionLink("Preinscribirme", "Formulario", "Alumno", null, new { @class = "btn btn-primary btn-lg active" })
    </div>
    <br />
    <br />
</div>