body {

    
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*A PARTIR DE ACA ES TODO LO NUESTRO*/

/*Esta seria la tipografia, pero no se si esta mal la ruta o que!*/
@font-face {
    font-family: "Oswald";
    src: url("Preinscripcion/fonts/oswald.light.ttf") format("truetype");
}

.cuerpo {
    background-color: #DDDCDC;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 1em 2em 1em 2em;
    width: 94em;
}

.no-padding {
    padding: 0;
    margin: 0;
    border: 0;
}

h2.titulo{
    font-family: "Oswald";
    color: #6C6C6C;
    padding-left: 1em;
    font-size: 2em;
}

.texto{
    font-family: sans-serif;
    color: grey;
    font-size: 1.2em;
}

.btn-primary.active {
    background-color: #6C6C6C;
    border-color: #6C6C6C;
}

.btn-primary:hover {
    background-color: #2C2B2B;
    border-color: #2C2B2B;
}

#footer{
    width: 96em;
    height: inherit;
}
