/*GENERALES*/
body {
    padding-bottom: 0;
    overflow-x: hidden;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists will truncate terms that are too long to fit in the left column */
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*A PARTIR DE ACA ES TODO LO NUESTRO*/

@font-face {
    font-family: Oswald;
    src: url("/fonts/oswald.light.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("/fonts/Roboto.ttf");
}

.cuerpo {
    background-color: #DDDCDC;
}

.no-padding {
    padding: 0;
    margin: 0;
    border: 0;
}

h2.titulo{
    font-family: Oswald;
    color: #6C6C6C;
}

.titulo2 {
    font-family: Oswald;
    color: black;
}

.texto{
    font-family: sans-serif;
    color: grey;
}

.textooscuro {
    font-family: sans-serif;
    color: #3f3f3f;
}


.btn{
    font-family: Oswald;
}

.btn-primary.active {
    background-color: #6C6C6C;
    border-color: #6C6C6C;
}

.btn-primary:hover {
    background-color: #2C2B2B;
    border-color: #2C2B2B;
}

.botonform {
    float: right;
    margin-right: 12em;
}

.footer {
    background-color: #252525;
    font-family: Roboto;
    color: white;
    text-align: center;
    font-size: 1.1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    height:11em;
}

.footer2{
    padding-top: 0.5em;
}

.texto-pequeño{
    font-size: 0.7em;
}

input {
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.inicio {
    text-align: center;
    padding-top: 3em;
}



/*DESKTOP*/
@media only screen and (min-width: 1024px) {
    .cuerpo {
        padding-top: 1em;
        padding-bottom: 3em;
        margin: 1em 2em 1em 2em;
        width: 94em;
    }

    h2.titulo {
        padding-left: 1em;
        font-size: 2.3em;
    }

    .texto {
        font-size: 1.2em;
        padding-left: 2em;
        padding-top: 2em;
    }

    .textooscuro {
        font-size: 1.2em;
        padding-left: 2em;
        padding-top: 2em;
    }


    .contacto {
        float: left;
        padding-left: 1em;
        width: 50em;
    }

    .seguinos {
        width: 90em;
    }

   
    .form1 {
        padding-left: 6em;
    }

    .form2 {
        padding-left: 10em;
    }

    .formlargo {
        padding-left: 6em;
    }

    .inputlargo {
        max-width: 81.5em;
    }

    .inputform {
        max-width:30em;
    }

    .centrado {
        padding-left: 20em;
        padding-top: 1em;
    }
    /*    .centrado {
<<<<<<< HEAD
<<<<<<< HEAD
        padding-top: 5em;
=======
        padding-top: 3em;
        text-align:center;
>>>>>>> cb2f2be468a5883cb50ef3e6086ae94ce778c598
=======
        padding-top: 3em;
        text-align:center;
>>>>>>> cb2f2be468a5883cb50ef3e6086ae94ce778c598
    }*/

}

/*TABLET*/
@media only screen and (min-width: 590px) and (max-width: 1024px) {

}

/*MOBILE*/
@media only screen and (max-width: 590px) {
    h2.titulo{
        padding-left: 1.5em;
        font-size: 1.5em
    }

    .cuerpo {
        padding-top: 1em;
        padding-bottom: 2em;
        margin: 1em 2em 1em 2em;
        width: 37em;
    }

    .texto{
        font-size: 0.8em;
    }

    .btn-primary{
        font-size: 1.2em;
        padding: 0.7em;
    }

    #header{
        width: 15em;
        padding-left: 1em;
    }

    .footer{
        width: 100%; 
        font-size: 1em;
        height: 23em;
    }

 
}