
@{
    ViewBag.Title = "Buscar Alumno";
}


    <a href="" role="button" class="botonform">Cerrar sesión</a><br/>

    <h3 class="titulo2">Buscar alumno</h3>
    <div class="textooscuro centrado">
        <form method="POST" action="">
            Documento: <input type="number" name="doc" id="doc"><br><br>
            @Html.ActionLink("Buscar", "VerificarDatosAdmin", "Alumno", null, new { @class = "btn btn-primary btn-lg active botonform" })
        </form>

    </div>

