
@{
    ViewBag.Title = "Buscar Alumno";
}

@Html.ActionLink("Cerrar Sesión", "Logout", "Administrativo", null, new { @class = "botonform" })<br />
<h3 class="titulo2">Buscar alumno</h3>


@using (Html.BeginForm("BuscarDocu", "Administrativo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset pull-center>
        <div class="centrado textooscuro">
            <div class="form-group">
                Documento: <input type="number" name="NroDoc" id="NroDoc" required><br><br>
            </div>       
            <button class="btn btn-primary btn-lg active botonform">Ingresar</button>
        </div>
    </fieldset>
}

<br />
<br />

@if (TempData["mensajeerror"] != null)
{
    <div class="alert" role="alert">
        @TempData["mensajeerror"]
    </div>
}
</div>


