
@{
    ViewBag.Title = "Iniciar sesión";
}

<h3 class="titulo2">Iniciar sesión</h3><br>

@using (Html.BeginForm("Login", "Administrativo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset pull-center>
        <div class="centrado textooscuro">
            <div class="form-group">
                Usuario: <input type="text" name="usuario" id="usuario" required><br><br>
            </div>
            <div class="form-group">
                Contraseña: <input type="password" name="contraseña" id="contraseña" required><br><br>
            </div>
            <button class="btn btn-primary btn-lg active botonform">Ingresar</button>
        </div>
    </fieldset>


}

@if (TempData["mensajeerror"] != null)
{
    <div class="alert" role="alert">
        @TempData["mensajeerror"]
    </div>
}



