
@{
    ViewBag.Title = "Iniciar sesión";
}


<div class="texto">
    <b>Iniciar sesión</b><br><br>

    <form action="" method="POST">
        Usuario: <input type="text" name="usu"><br><br>
        Contraseña: <input type="password" name="pass"><br><br>
        @Html.ActionLink("Ingresar", "BuscarDoc", "Administrativo", null, new { @class = "btn btn-primary btn-lg active right" })

    </form>

</div>