
@{
    ViewBag.Title = "Iniciar sesión";
}

<h3 class="titulo2">Iniciar sesión</h3><br><br>

<div class="texto">
    <form action="" method="POST">
        Usuario: <input type="text" name="usu"><br><br>
        Contraseña: <input type="password" name="pass"><br><br>
        @Html.ActionLink("Ingresar", "BuscarDoc", "Administrativo", null, new { @class = "btn btn-primary btn-lg active right" })
    </form>

</div>