
@{
    ViewBag.Title = "CancelarTurno";
}

<h3 class="titulo2">Cancelá tu Turno</h3>

<div> <p class="texto textooscuro"> <label for="Turno asignado">Turno Asignado:</label> </p></div><br />

<div class="botonform">
    @Html.ActionLink("Cancelar", "CancelarTurnoOk", "Turno", null, new { @class = "btn btn-primary btn-lg active" })
</div>
<br />
<br />