
@{
    ViewBag.Title = "Cancelar Turno";
}

<div class="texto textooscuro">
    <p>
        <b>Tu turno ha sido cancelado satisfactoriamente.</b>
    </p>
    <p>
        Recordá que podés volver a inscribirte a nuestra Facultad.
    </p>
    <p>
        ¡Te esperamos!
    </p>
    <br />
    <a href="/Alumno/Index" class="btn btn-primary btn-lg active" role="button">Volver a Inicio</a>
</div>

