
@{
    ViewBag.Title = "CancelarTurno";
}

<h3 class="titulo2">Cancela tu Turno</h3>

<div class="textooscuro"> <label for="Turno asignado">Turno Asignado:</label> </div><br />

<div class="botonform">
    @Html.ActionLink("Cancelar", "CancelarTurnoOk", "Turno", null, new { @class = "btn btn-primary btn-lg active" })
</div>