
@{
    ViewBag.Title = "ModificarTurno";
}

<h3 class="titulo2">Modificá tu Turno</h3>

<div> <label for="Turno asignado">Turno Asignado:</label> </div><br />
<div> <label for="Nuevo Turno">Nuevo Turno:</label> </div> <br />


<div class="botonform">
    @Html.ActionLink("Modificar", "ModificarTurnoOk", "Turno", null, new { @class = "btn btn-primary btn-lg active" })
</div>