
@{
    ViewBag.Title = "Modificar Turno";
}

<div class="texto">
    <p>
        <b>Tu turno ha sido modificado satisfactoriamente.</b>
    </p>
    <p>
        En breve te enviaremos un mail con tu nuevo turno.
    </p>
    <br />
    <a href="/Home/Index" class="btn btn-primary btn-lg active" role="button">Volver a Inicio</a>
</div>

