
@{
    ViewBag.Title = "Modificar Turno";
}

<div class="texto">
    <p>
        <b>Tu turno ha sido modificado satisfactoriamente.</b>
    </p>
    <p>
        En breve te enviaremos un mail con tu nuevo turno.
    </p>
</div>

